form{
    background-color: rgb(246, 152, 114);
    margin: auto;
    text-align: center;
}
body{
    background-color: rgb(255, 197, 197);
}
legend{
    font-size: 50px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: firebrick;
    font-style: italic;
}
label{
    font-size: 35px;
    font-weight: lighter;
}
.txt{
    background-color:rgb(255, 197, 197) ;
    color: darkred;
    font-weight: bold;
}
.butt{
    font-size: 30px;
}
.butt:hover{
    background-color: darkred;
    color: white;
    font-size: 30px;
}